@import "../../mixin.scss";
.slider__img {
  width: 100%;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
  background-position-y: center !important;
  max-height: 400px !important;
}

.carousel__button {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  justify-content: space-around;
  .prev__btn {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    color: white;
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    transition: 0.2s ease-in;
  }
  .next__btn {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    color: white;
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    transition: 0.2s ease-in;
  }
  .next__btn:hover {
    @include primary-button-hover;
  }
  .prev__btn:hover {
    @include primary-button-hover;
  }
}
@media screen and (max-width:1000px) {
  .carousel__content{
    width: 1000px;
  }
  .carousel__button{
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width:500px) {
  .carousel__content{
    width: 400px;
  }
  .carousel__button{
    display: none;
    visibility: hidden;
  }
}