@import "./../../mixin.scss";

.compare__sidebar {
  position: fixed;
  // right: -750px;
  right: -2px;
  bottom: 50px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in;
  .compare__sidebar_title {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0a3251;
    transform: rotate(-90deg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    padding: 0px 33px;
    font-family: "FiraGO", sans-serif;
    height: 67px;
    cursor: pointer;
    margin: -52px;
  }
  .compare__sidebar_inner {
    background-color: rgba(10, 50, 81, 0.35);
    // max-width: 50%;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    .compare__sidebar_hidden {
      display: flex;
      text-align: center;
      height: 126px;
      .add__product {
        padding: 10px 10px;
        border-radius: 4px;
        border: 3px dotted white;
        cursor: pointer;
        color: white;
        @include primary-text-font;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        .product__info {
          max-width: 250px;
          .product__title {
            max-height: 30px;
            overflow: hidden;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            @include primary-text-color;
          }
          &_add {
            @include primary-text-font;
            font-size: 20px;
            text-align: center;
            justify-content: center;
            display: flex;
            align-items: center;
            max-height: 30px;
            // overflow: hidden;
          }
          span {
            @include primary-text-hover;
            font-size: 25px;
            @include primary-text-font;
          }
        }
        img {
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .compare__start {
        border-radius: 4px;
        background-color: white;
        @include primary-button-hover;
        color: white;
        @include primary-text-font;
        width: 20%;
        cursor: pointer;
      }
      .clear {
        display: flex;
        align-items: center;
        text-decoration: underline;
        color: white;
        @include primary-text-font;
        cursor: pointer;
      }
    }
  }
}
.active{
  transform: translateX(90%);
}