@import "./../../../mixin.scss";

.hot__sale {
  float: left;
  @include primary-text-font;
  color: #093251;
  line-height: 42px;
}
.products__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  @include secondary-text-font;
  .prev__btn{
    position: absolute;
    top: 60%;
    left: 5px;
    border-radius: 50%;
    border: none;
    // padding: 20px;
  }
  .next__btn{
    position: absolute;
    top: 60%;
    right: 5px;
    border-radius: 50%;
    border: none; 
  }

  img{
    width: 150px;
  }
  .product__cart_container {
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: #eff0f2;
    transition: 0.4s ease-in-out;
    @include primary-text-color
  }
  h4 {
    font-family: Montserrat, BPGMrgvlovani;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    @include primary-text-color;
    margin-bottom: 10px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .product__price {
    margin-bottom: 5px;
    height: 45px;
    text-align: center;
    h3 {
      color: #fe5f55;
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
      span {
        text-decoration: line-through;
        font-size: 12px;
        font-weight: 600;
        color: #7b838e;
        display: inline-block;
      }
    }
    h5 {
      color: #fe5f55;
      span {
        text-decoration: line-through;
        font-size: 12px;
        font-weight: 600;
        color: #7b838e;
        display: inline-block;
      }
    }
  }
}
.visable{
  visibility: hidden;
}
.product__box:hover h4 {
  @include primary-text-hover;
  text-decoration: underline;
}
.product__box:hover .visable{
  visibility: visible;
}

.product__cart_container:hover{
  background-color: #093251;
  color: white;
}