@import "../../../../mixin.scss";


.header__cartitem {
    display: flex;
    font-weight: 500;
    gap: 12px;
    position: relative;
    .cartitem__link {
        display: flex;
        // align-items: flex-end;
        @include primary-text-color;
        text-decoration: none;
        text-align: center;
        font-family: 'FiraGO', bold;
        font-size: 14px;
        font-weight: bold;
        align-items: center;
        gap: 6px;
        position: relative;
        @include secondary-text-font;
        span{
            font-size: 16px;
            .cartitem__length{
                width: 24px;
                height: 15px;
                background-color: #ff5400;
                border-radius: 8px;
                color: #fff;
                font-family: firago-medium;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .cartitem__dropdown{
        position: absolute;
        top: 50px;
        right: 6px;
        z-index: 1000;
        visibility: hidden;
        transition: 0.4s ease-in;
        .cartitem__inner{
            border-radius: 15px;
            width: 270px;
            background-color: #fff;
            border: 1px solid #f5f5f5;
            padding: 27px 0;
            display: flex;
            flex-direction: column;
            .cart__items{
                // display: flex;
                // justify-content: space-between;
                // background-color: #0a3251;
                cursor: pointer;
                margin: 0 12px;
                height: 150px;
                overflow-y: auto;
                img{
                    width: 47px;
                    height: 47px;
                    margin-left: 12px;
                }
                .cart__item_inner{
                    display: flex;
                    justify-content: space-around;
                    border-bottom: 1px solid #f5f5f5;
                    user-select: none;
                    
                    .cart__item_left{
                        align-items: center;
                        display: flex;
                        span{
                            color: #688093;
                        }
                    }
                    .cart__item_right{
                        display: flex;
                        flex-direction: column;
                        .cart__item_description{
                            font-size: 11px !important;
                            @include primary-text-color;
                            @include secondary-text-font
                        }
                        .quantity{
                            display: flex;
                            justify-content: space-around;
                            text-align: center;
                            align-items: center;
                            line-height: 15px;
                            margin: 10px 0;
                            color: #688093;
                            .quantity__buttons{
                                // background-color: red;
                                border: 1px solid #f5f5f5;
                                padding: 1px;
                            }
                        }
                    }
                }
            }
            h5{
                float: left;
                display: flex;
                font-size: 15px;
                padding-left: 25px;
                margin-bottom: 20px;
                @include primary-text-color;
                font-weight: 600;
                user-select: none
            }
            h4{
                @include primary-text-font;
                color: #688093;
                font-size: 12px;
                margin-bottom: 23px;
                padding: 0 25px;
                user-select: none;
                text-align: right;
                span{
                    @include primary-text-color;
                    font-size: 14px;
                }
            }
            button{
                width: 221px;
                margin: 0 auto;
                height: 45px;
                border-radius: 5px;
                border: none;
                font-size: 13px;
                text-align: center;
                background-color: #0a3251;
                color: white;
                @include primary-text-font;
                font-weight: 500;
                cursor: pointer;
                user-select: none;
            }
            button:hover{
                @include primary-button-hover;
            }
        }
    }
}
.header__cartitem:hover>.cartitem__dropdown{
    visibility: visible;
}
.cart__items::-webkit-scrollbar {
    width: 10px;
}